@import "../../../scss/core/mixins";
@import "../../../scss/core/variables";
@import '../../../scss/grid/breakpoints';

.reviews {
    
    .box._heading-center {
        margin-bottom: $spacing-m;

        @include media-down(md) {
            margin-bottom: $spacing-s;
        }
    }

    .swiper-pagination {
        min-height: 50px;
        position: static;
        margin-top: $spacing-xs;

        @include media-down(sm) {
            min-height: 25px;
        }
    }

    .swiper-slide {
        height: auto;
    }
}

.card._reviews { 
    border: 1px solid #707070;
    padding: $spacing-m;
    max-width: 450px;
    height: 100%;

    @include media-down(sm) {
        padding: 20px ​26px 26px 26px;
        max-width: none;
    }

    .card-primary {
        margin-bottom: $spacing-m;

        @include media-down(sm) {
            margin-bottom: $spacing-s;
        }

        .box {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            .box-icon {
                flex: 0 0 70px;
                width: 70px;
                height: 70px;
                display: flex;
                overflow: hidden;
                border-radius: 100%;
                justify-content: center;
                align-items: center;
                margin-right: $spacing-s;

                
                @include media-down(sm) {
                    flex: 0 0 40px;
                    width: 40px;
                    height: 40px;
                }
            }
    
            .box-title {
                font-size: pxrem(15);
                color: $black;
    
                strong {
                    display: block;
                }
            }
        }
    }

    .card-secondary {
            
        .box-text {
            position: relative;
            font-weight: 300;
            font-size: pxrem(16);
            line-height: pxrem(24);
            padding-top: 30px;

            @include media-down(sm) {
                font-size: pxrem(14);
                line-height: pxrem(18);
            }

            &:before {
                content: url(../assets/img/ui/icon-quote-1.png);
                display: inline-block;
                position: absolute;
                left: -20px;
                top: 10px;
            }

            &:after {
                content: url(../assets/img/ui/icon-quote-2.png);
                display: inline-block;
                position: absolute;
                right: -10px;
                bottom: -10px;
            }
        }
    }
}