@import "../core/mixins";
@import "../core/variables";

.cover {
    position: relative;
    
    @include media-down(xs) {
        display: flex;
        flex-direction: column;
    }

    .box {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 100px;
        color: $white;
        transform: translateY(-50%);

        @include media-down(sm) {
            left: 30px;
            
        }

        @include media-down(xs) {
            position: relative;
            order: 2;
            background: #013c82;
            padding: $spacing-s;
            width: 100%;
            transform: none;
            left: 0;
            top: 0;
        }
    }

    .box-title {
        margin-bottom: $spacing-s;

        .h1,
        .h2 {
            font-size: pxrem(47);
            line-height: 1.2;
            font-weight: 600;

            @include media-down(md) {
                font-size: pxrem(36);
            }

            @include media-down(sm) {
                font-size: pxrem(30);
            }
        }
    }

    .box-text {
        font-size: pxrem(18);
        font-weight: 500;
        margin-bottom: $spacing-s;

        .h2 {
            font-size: pxrem(18);
            line-height: 1.5;
        }
    }

    .box-cta {
        .btn._inline-alt {
            @include media-down(xs) {
                padding: 20px 0;
                display: block;
            }

            &:hover {
                color: $black;
            }
        }
    }

    .box-text + .box-cta {
        margin-top: $spacing-m;

        @include media-down(md) {
            margin-top: $spacing-s;
        }
    }

    .img {
        @include media-down(xs) {
            order: 1;
        }

        &._wide {
        
            picture {
                padding-bottom: 25%;
                min-height: 340px;

                @include media-down(xs) {
                    min-height: 150px;
                }
            }
           
            img {
                object-position: top;
            }
        }
    }
}

.cover._title {
    position: relative;

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: linear-gradient(43deg, black, #003c61, #5a5000);
        top: 0;
        left: 0;
        z-index: 2;
        pointer-events: none;
        opacity: 0.3;
    }

    .box {
        z-index: 3;
        max-width: 1024px;

        .h1,
        .h2 {
            font-weight: 700;
        }
    }
}