@import "../core/mixins";
@import "../core/variables";

.download {
    
    &._bg-grey {
        padding: $spacing-l 0 $spacing-l 0;
        margin-bottom: $spacing-xl;

        @include media-down(sm) {
            padding: $spacing-m 0 0 0;
        }
    }

    .box._heading-center {
        margin-bottom: $spacing-m;

        @include media-down(md) {
            margin-bottom: $spacing-s;
        }
    }

    .swiper-pagination {
        min-height: 50px;
        position: static;
        margin-top: $spacing-xs;

        @include media-down(sm) {
            min-height: 25px;
            margin-bottom: 20px;
        }
    }

    .swiper-slide {
        height: auto;
        text-align: center;
    }
}

.card._download {
    @extend .card._features;

    .box-img {
        margin-bottom: $spacing-s;
    }

    .box-title {
        color: $dark;
        font-weight: 700;
    }

    .box-text {
        color: $dark;
    }

    &:after {
        height: 10px;
        background-size: 100% 10px;
    }
}

