<!-- /hero -->
<section class="section hero">
	<div class="swiper" data-swiper-slider="hero">
		<div class="swiper-wrapper">
			<div class="swiper-slide" data-swiper-name="Black Friday 2021">
                <div class="box">
                    <div class="box-title">
                        <h1 class="h1">
                            Fatti accompagnare<br/>nella trasformazione digitale
                        </h1>
                    </div>
                    <div class="box-text">
                        <p><strong>Semplifica la gestione e risparmia tempo</strong> da dedicare alla tua attività.<br>Approfitta della promozione Black Friday dal 15 al 29 Novembre.</p>
                    </div>
                    <div class="box-cta">
                        <a href="#" title="lorem" class="btn _white-alt">Scopri le promozioni</a>
                    </div>
                </div>
                <div class="img _wide">
                    <picture>
                        <source srcset="./assets/img/cover/cover-01.webp" media="(min-width: 768px)" alt="Title" width="1920" height="608" type="image/webp"> <!-- fullwidth webp-->
                        <source srcset="./assets/img/cover/cover-01.jpg" media="(min-width: 768px)" alt="Title" width="1920" height="608" type="image/jpeg"> <!-- fullwidth jpg-->
                        <source srcset="./assets/img/cover/cover-01m.webp" media="(max-width: 767px)" alt="Title" width="750" height="250" type="image/webp"> <!-- mobile webp-->
                        <img src="./assets/img/cover/cover-01m.jpg" alt="Title" width="750" height="250"> <!-- mobile jpg-->
                    </picture>
                </div>
            </div>
			<div class="swiper-slide" data-swiper-name="TeamSystem Studio All-in-One">
                <div class="box">
                    <div class="box-title">
                        <h1 class="h1">
                            Fatti accompagnare<br/>nella trasformazione digitale
                        </h1>
                    </div>
                    <div class="box-text">
                        <p><strong>Semplifica la gestione e risparmia tempo</strong> da dedicare alla tua attività.<br>Approfitta della promozione Black Friday dal 15 al 29 Novembre.</p>
                    </div>
                    <div class="box-cta">
                        <a href="#" title="lorem" class="btn _white-alt">Scopri le promozioni</a>
                    </div>
                </div>
                <div class="img _wide">
                    <picture>
                        <source srcset="./assets/img/cover/cover-02.webp" media="(min-width: 768px)" alt="Title" width="1920" height="608" type="image/webp"> <!-- fullwidth webp-->
                        <source srcset="./assets/img/cover/cover-02.jpg" media="(min-width: 768px)" alt="Title" width="1920" height="608" type="image/jpeg"> <!-- fullwidth jpg-->
                        <source srcset="./assets/img/cover/cover-02m.webp" media="(max-width: 767px)" alt="Title" width="750" height="250" type="image/webp"> <!-- mobile webp-->
                        <img src="./assets/img/cover/cover-02m.jpg" alt="Title" width="750" height="250"> <!-- mobile jpg-->
                    </picture>
                </div>
            </div>
			<div class="swiper-slide" data-swiper-name="TeamSystem Industry 4.0">
                <div class="box">
                    <div class="box-title">
                        <h1 class="h1">
                            Fatti accompagnare<br/>nella trasformazione digitale
                        </h1>
                    </div>
                    <div class="box-text">
                        <p><strong>Semplifica la gestione e risparmia tempo</strong> da dedicare alla tua attività.<br>Approfitta della promozione Black Friday dal 15 al 29 Novembre.</p>
                    </div>
                    <div class="box-cta">
                        <a href="#" title="lorem" class="btn _white-alt">Scopri le promozioni</a>
                    </div>
                </div>
                <div class="img _wide">
                    <picture>
                        <source srcset="./assets/img/cover/cover-03.webp" media="(min-width: 768px)" alt="Title" width="1920" height="608" type="image/webp"> <!-- fullwidth webp-->
                        <source srcset="./assets/img/cover/cover-03.jpg" media="(min-width: 768px)" alt="Title" width="1920" height="608" type="image/jpeg"> <!-- fullwidth jpg-->
                        <source srcset="./assets/img/cover/cover-03m.webp" media="(max-width: 767px)" alt="Title" width="750" height="250" type="image/webp"> <!-- mobile webp-->
                        <img src="./assets/img/cover/cover-03m.jpg" alt="Title" width="750" height="250"> <!-- mobile jpg-->
                    </picture>
                </div>
            </div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>
<!-- /hero -->