 <!--@@block footer-->
 <footer class="footer">
    <div class="footer-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="box">
                        <div class="box-title">SOFTWARE ERP</div>
                        <nav aria-labelledby="SOFTWARE ERP" class="box-list">
                            <ul>
                                <li><a href="/construction/soluzioni-per-imprese-edili-impiantistiche" title=" Soluzioni per Imprese edili e impiantistiche">Imprese edili e impiantistiche</a></li>
                                <li><a href="/construction/soluzioni-per-imprese-edlli-artigiane" title="Innovazione digitale per le imprese di costruzioni e gli artigiani edili">Imprese edili artigiane</a></li>
                                <li><a href="/construction/soluzioni-per-pubblica-amministrazione" title="Soluzioni per Pubblica Amministrazione, Enti locali, Multiutilities">Pubblica Amministrazione</a>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="box">
                        <div class="box-title">A CHI SI RIVOLGE</div>
                        <nav aria-labelledby="A CHI SI RIVOLGE" class="box-list">
                            <ul>
                                <li><a href="/construction/gestione-imprese" title="Software Gestione Imprese">TeamSystem Construction Gestione Imprese</a></li>
                                <li><a href="/construction/project-management-imprese-edili" title="ERP per le imprese e gli studi">TeamSystem Construction Project Management</a></li>
                                <li><a href="/construction/cde" title="Software gestione processi">TeamSystem Constrution CDE</a> </li>
                                <li><a href="/construction/equipment-management" title="Equipment Management">TeamSystem Construction Equipment Management</a></li>
                                <li><a href="/construction/asset-management-imprese-edili" title="Software per gestione immobiliare">Teamsystem Enterprise Asset Management</a></li>
                                <li><a href="/construction/crm" title="Software per gestione immobiliare">Teamsystem CRM</a></li></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="box">
                        <div class="box-title">AZIENDA</div>
                        <nav aria-labelledby="A CHI SI RIVOLGE" class="box-list">
                            <ul>
                                <li><a href="/construction/gestione-imprese" title="Software Gestione Imprese">TeamSystem Construction Gestione Imprese</a></li>
                                <li><a href="/construction/project-management-imprese-edili" title="ERP per le imprese e gli studi">TeamSystem Construction Project Management</a></li>
                                <li><a href="/construction/cde" title="Software gestione processi">TeamSystem Constrution CDE</a> </li>
                                <li><a href="/construction/equipment-management" title="Equipment Management">TeamSystem Construction Equipment Management</a></li>
                                <li><a href="/construction/asset-management-imprese-edili" title="Software per gestione immobiliare">Teamsystem Enterprise Asset Management</a></li>
                                <li><a href="/construction/crm" title="Software per gestione immobiliare">Teamsystem CRM</a></li></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="box">
                        <div class="box-title">LINK UTILI</div>
                        <nav aria-labelledby="LINK UTILI" class="box-list">
                            <ul>
                                <li><a href="/construction/gestione-imprese" title="Software Gestione Imprese">TeamSystem Construction Gestione Imprese</a></li>
                                <li><a href="/construction/project-management-imprese-edili" title="ERP per le imprese e gli studi">TeamSystem Construction Project Management</a></li>
                                <li><a href="/construction/cde" title="Software gestione processi">TeamSystem Constrution CDE</a> </li>
                                <li><a href="/construction/equipment-management" title="Equipment Management">TeamSystem Construction Equipment Management</a></li>
                                <li><a href="/construction/asset-management-imprese-edili" title="Software per gestione immobiliare">Teamsystem Enterprise Asset Management</a></li>
                                <li><a href="/construction/crm" title="Software per gestione immobiliare">Teamsystem CRM</a></li></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="box">
                        <div class="box-title">NUMERI UTILI</div>
                        <nav aria-labelledby="NUMERI UTILI" class="box-list">
                            <ul>
                                <li><a href="/construction/gestione-imprese" title="Software Gestione Imprese">TeamSystem Construction Gestione Imprese</a></li>
                                <li><a href="/construction/project-management-imprese-edili" title="ERP per le imprese e gli studi">TeamSystem Construction Project Management</a></li>
                                <li><a href="/construction/cde" title="Software gestione processi">TeamSystem Constrution CDE</a> </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" rel="nofollow" target="_blank" title="logo italia">
                        <picture>
                            <source srcset="./assets/img/logo-italia.webp" alt="Title" width="184" height="80" type="image/webp"> <!-- fullwidth webp-->
                            <img src="./assets/img/logo-italia.jpg" loading="lazy" alt="Title" width="184" height="80"> <!-- mobile jpg-->
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <p>TeamSystem S.p.A. società con socio unico soggetta all’attività di direzione e coordinamento di Brunello Holdco S.p.A. - Cap. Soc. € 24.000.000 I.v. - C.C.I.A.A. di Pesaro e Urbino - P.I. 01035310414 - Sede Legale e Amministrativa: Via Sandro Pertini, 88 - 61122 Pesaro (PU) - Tutti i diritti riservati</p>
                </div>
                <div class="col-sm-2">
                    <a class="copyright" title="Digital Marketing" target="_blank" href="https://www.websolute.com">Websolute <svg class="ico"><use xlink:href="#ico-ws"></use></svg></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-tertiary">
        <div class="container">
            <nav aria-labelledby="social network" class="box _cta-center">
                <ul>
                    <li><strong>SEGUICI</strong></li>
                    <li>
                        <a href="https://www.facebook.com/hr.TeamSystem/?ref=bookmarks" rel="nofollow" target="_blank" title="facebook">
                            <picture>
                                <source srcset="./assets/img/ui/icon-fb.webp" alt="Title" width="46" height="46" type="image/webp"> <!-- fullwidth webp-->
                                <img src="./assets/img/ui/icon-fb.jpg" loading="lazy" alt="Title" width="46" height="46"> <!-- mobile jpg-->
                            </picture>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/teamsystem-construction/" rel="nofollow" target="_blank" title="linkedin">
                            <picture>
                                <source srcset="./assets/img/ui/icon-linkedin.webp" alt="Title" width="46" height="46" type="image/webp"> <!-- fullwidth webp-->
                                <img src="./assets/img/ui/icon-linkedin.jpg" loading="lazy" alt="Title" width="46" height="46"> <!-- mobile jpg-->
                            </picture>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC5eKclHD_7ah7BuXAHN7tvA" rel="nofollow" target="_blank" title="youtube">
                            <picture>
                                <source srcset="./assets/img/ui/icon-youtube.webp" alt="Title" width="46" height="46" type="image/webp"> <!-- fullwidth webp-->
                                <img src="./assets/img/ui/icon-youtube.jpg" loading="lazy" alt="Title" width="46" height="46"> <!-- mobile jpg-->
                            </picture>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/teamsystem_official/" rel="nofollow" target="_blank" title="instagram">
                            <picture>
                                <source srcset="./assets/img/ui/icon-ig.webp" alt="Title" width="46" height="46" type="image/webp"> <!-- fullwidth webp-->
                                <img src="./assets/img/ui/icon-ig.png" loading="lazy" alt="Title" width="46" height="46"> <!-- mobile jpg-->
                            </picture>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>