@import "../core/mixins";
@import "../core/variables";

//mobile nav
@include media-down(sm) {
    
    .nav {
        position: fixed;
        top: 85px;
        background: white;
        width: 100%;
        height: calc(100vh - 85px);
        left: 0;
        overflow-y: auto;
        overflow-x: hidden;
        display: none;

        .nav-btn {
            text-transform: uppercase;
            font-weight: 600;
            display: block;
            width: 100%;
            text-align: left;
            padding: 16px 10px;
            position: relative;
            color: $dark;

            & > .ico {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &.active {
            display: block;
        }

        & > ul {
            display: flex;
            flex-direction: column;

            & > li {
                margin-right: 0;   
                text-transform: uppercase;
                font-weight: 600;
                padding: 0;
                border-bottom: 1px solid #ced4da;
                
                a {
                    display: block;
                    color: $black;
                }
            }
        }

        .mobile-search {
            display: block;

            input {
                height: 45px;
            }

            .btn {
                border-radius: 0;
                background: transparent;
            }
        }
    }

    .ico {
        width: 10px;
        height: 10px;
        stroke: 0;
        border: 0;
    }

    %mobile-btn {
        font-size: .88889rem;
        text-transform: uppercase;
        font-weight: 600;
        display: block;
        width: 100%;
        text-align: left;
        padding: 16px 10px;
        margin-bottom: 0;
        color: $black;
        pointer-events: all;
    }

    %mobile-panel {
        position: fixed;
        top: 85px;
        background: white;
        width: 100%;
        height: calc(100vh - 85px);
        left: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        transition: all .3s $smooth;
        box-shadow: none;
        opacity: 1;
    }

    //subnav
    .subnav {
       @extend %mobile-panel;
    }

    .submenu.active .subnav {
        top: 88px;
        left: 0;
    }
    
    //subnav primary
    .subnav-primary {
        flex-direction: column;
        z-index: 1;

        .subnav-primary_item {
            flex-basis: auto;
            padding: 0;
            border-bottom: 1px solid #ced4da;
            position: relative;

            &._variant {
                .subnav-title {
                    color: $blue;
                }
            }
        }

        .subnav-title {
            @extend %mobile-btn;

            & > .ico {
                display: block;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .nav-back {
            @extend %mobile-btn;
            color: $white;
            pointer-events: all;
            background: #5A5656;

            .ico {
                fill: white;
                transform: none;
                position: static;
                margin-right: 4px;
            }
        }
    }
    
    //subnav secondary
    .subnav-secondary {
        @extend %mobile-panel;
        z-index: 2;
    }

    .subnav-secondary_item {
        @extend %mobile-btn;
        margin-bottom: 0 !important;
        border-bottom: 1px solid #ced4da;

        .subnav-title {
            padding: 0 0 10px 0;
        }
    }

    .submenu.active .subnav-primary_item.active .subnav-secondary {
        left: 0;
    }

	body.no-scroll {
		overflow: hidden;
	}
}
