{% set page_title = "Homepage" %}
{% set body_class = "homepage" %}
{% extends "src/templates/layout.html" %}

{% block main %}
    <!-- modules -->
    {% include "src/app/modules/hero/hero.html" %}
    {% include "src/app/modules/reviews/reviews.html" %} 
    {% include "src/app/modules/accordion/accordion-filters.html" %}
    {% include "src/app/modules/cover/cover.html" %}
    {% include "src/app/modules/features/features.html" %}
    {% include "src/app/modules/video-player/video-player.html" %}
    {% include "src/app/modules/accordion/accordion.html" %}
    {% include "src/app/modules/related/related.html" %}
    {% include "src/app/modules/cover/cover.html" %}
    {% include "src/app/modules/reviews/reviews.html" %}
    <!-- modules -->

    {% include "src/templates/shared/console.html" %}

{% endblock %}
