@import "../../../scss/core/mixins";
@import "../../../scss/core/variables";
@import '../../../scss/grid/breakpoints';

.focus {

    ._heading-center {
        
        .box-title{
            margin-bottom: $spacing-m;
        }
    }

    .row {
        justify-content: center;
    }

    @include media-down(sm) {
        .col-md-3 {
            &:last-child {
                .card._focus {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.card._focus {
    position: relative;
    height: 100%;
    border: 1px solid $dark-blue;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;

    @include media-down(md) {
        margin-bottom: $spacing-m;
        height: auto;
        text-align: center;
    }

    .box-title {
        font-size: pxrem(20);
        font-weight: 500;
        margin-bottom: $spacing-xs;
        color: $dark-blue;
    }

    .box-text {
        color: $black;
    }

    a {
        padding: $spacing-m;
        display: block;
        cursor: pointer;

        @include media-down(md) {
            padding: $spacing-s;
        }
        
        .box-title {
            color: $dark-blue;
        }

        .box-text {
            color: $black;
        }
    }

    &:hover {
        background: $dark-blue;
        
        a,
        .box-title,
        .box-text {
            color: $white;
        }
    }

    p {
        font-weight: 300;
        font-size: pxrem(16);
    }
}
